In [2]:
#Assign three different values to three different variables and print them.
A,B,C = "Lamborghini","Mercedes-Benz","Land Rover"
print(A)
print(B)
print(C)

Lamborghini
Mercedes-Benz
Land Rover

In [24]:
#Write a program to demonstrate single and multiple assignment of values to a variables
a,b,c= "Marks",20,19
print (a)
print (b)
print (c)
#or
#name = "ram"
#percentage = 79
#print (name)
#print (percentage)

Marks
20
19

In [10]:
#Write a program to swap two variables.
x = 2
y = 3 
# swap the values
temp = x
x = y
y = temp
print('The value of x after swapping: ')
print(x)
print('The value of y after swapping: ')
print(y)

The value of x after swapping:
3
The value of y after swapping:
2

In [18]:
#Write a program to demonstrate that a single variable can store different type of values at different instance of time
mycar = 'lamborghini\n12600000\nFrom UK'
x = mycar
print(x)
#or
#car="BMW",12000000,"From India"
#x = car
#print(x)

lamborghini
12600000
From UK

In [32]:
#Write a program to concatenate two strings.
#using + operator
#using % operator
#using join() method
first = "Hello"
second = "World"
result = first+second
res = first+" "+second
print(result)
print(res)

HelloWorld
Hello World

In [49]:
#Write a program to calculate simple interest.Accept values from user.(si=pnr/100)
P =float(input('Enter principal value is:'))
N =float(input('Enter time period value is:'))
R =float(input('Enter rate of intrest is:'))
SI = (P * N * R)/100
print('simple intrest is:',SI)

Enter principal value is:10
Enter time period value is:2
Enter rate of intrest is:4
simple intrest is: 0.8